.header {
  margin-bottom: 80px;
  padding-top: 56px;
  &-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      list-style: none;
    }
  }
  @media screen and (max-width: 1023px) {
    margin-bottom: 80px;
    padding-top: 30px;
  }
  &-dots {
    left: 0;
    transform: translate(-10%, 100px);
  }
}
