.hero {
    margin-bottom: 190px;
    &-main {
        display: flex;
        align-items: center;
        gap: 34px;
    }
    &-content {
        width: 100%;
        max-width: 445px;
        margin-right: 109px;
    }
    &-heading {
        font-weight: 700;
        font-size: 48px;
        line-height: 117%;
        margin-bottom: 25px;
        color: $black-color;
    }
    &-desc {
        font-size: 21px;
        font-weight: 300;
        line-height: 152%;
        margin-bottom: 45px;
    }
    @media screen and (max-width: 1023px) {
        margin-bottom: 180px;
        &-heading {
            font-size: 35px;
        }
        &-desc {
            font-size: 18px;
        }
        &-content {
            margin-right: 60px;
        }
    }
    @media screen and (max-width: 767px) {
        margin-bottom: 70px;
        &-main {
            flex-direction: column;
            row-gap: 40px;
        }
        &-content {
            margin-right: 0;
        }
        &-heading {
            font-size: 30px;
            text-align: center;
        }
        &-desc {
            margin-bottom: 30px;
            text-align: center;
        }
    }
}